.flags{
    max-width: 400px;
    padding: 30px;
}

.Ethiopia{
    /* background-color: green; */
    /* padding: 30px; */
    width: 400px;
}
.green{
    background-color: green;
    padding: 30px;
}
.yellow{
    background-color: yellow;
    padding: 30px;
}
.red{
    background-color: red;
    padding: 30px;
}
.triangle1{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 30px solid blue;
    position: relative;
    bottom: 100px;
    left: 170px;
}
.triangle2{
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid blue;
    position: relative;
    bottom: 140px;
    left: 170px;
}

.south-red{
    padding: 30px;
    background-color: red;
}
.south-white{
    padding: 30px;
    background-color: white;
}
.south-blue{
    padding: 30px;
    background-color: blue;
}
.south-white2{
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 100px solid white;
    position: relative;
    bottom: 180px;
    left: 80px;
}
.south-white3{
    width: 20px;
    height: 180px;
    background-color: white;
    position: relative;
    bottom: 360px;
    left: 60px;
}
.south-green{
    padding: 20px;
    background-color: green;
    position: relative;
    bottom: 470px;
}
.south-green2{
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 100px solid green;
    position: relative;
    bottom: 580px;
    left: 60px;
}
.south-green3{
    width: 60px;
    height: 180px;
    background-color: green;
    position: relative;
    bottom: 760px;
}
.south-yellow{
    width: 0;
    height: 0;
    border-top: 90px solid transparent;
    border-bottom: 90px solid transparent;
    border-left: 100px solid yellow;
    position: relative;
    bottom: 940px;
}
.south-black{
    width: 0;
    height: 0;
    border-top: 70px solid transparent;
    border-bottom: 70px solid transparent;
    border-left: 80px solid black;
    position: relative;
    bottom: 1100px;
}
 .costa-blue1{
    padding: 15px;
    background-color: blue;
    position: relative;
    bottom: 950px;
}
.costa-red{
    padding: 30px;
    background-color: red;
    position: relative;
    bottom: 920px;
}
.costa-blue2{
    padding: 15px;
    background-color: blue;
    position: relative;
    bottom: 890px;
}
.france-blue{
    padding: 30px;
    background-color: blue;

}
.france{
    max-width: 170px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    position: relative;
    bottom: 820px;
    min-height: 200px;
}
.france-red{
    padding: 30px;
    background-color: red;
    position: relative;
    left: 50px;
} 